<% if Helpers.is_logged_in?(session) %>
<h2>Add a New Auto <%= @owner.name %> </h2>

<form action="/autos" method="POST">

</br>
  <input type="text" name="year" placeholder="Year:">
  <input type="text" name="make" placeholder="Make:">
  <input type="text" name="model" placeholder="Model:">
  <input type="text" name="price" placeholder="Price:">
  <!-- <label> Buyers </label>
  <% Buyer.all.each do |buyer| %>
    <input id="<%= buyer.name %>" type="checkbox" name="buyers[]" value="<%= buyer.id %>">
  <% end %> -->
</br>
  <input type="submit" value="Create">

</form>
<% else %>
    <h1> You Must Be Logged in to autolister to view this page </h1>
<% end %>
