<h1>Add a New Auto</h1>

<form action="/autos" method="POST">
  <label> <%= @owner.name %> </label>

  <input type="text" name="year" placeholder="Year:">
  <input type="text" name="make" placeholder="Make:">
  <input type="text" name="model" placeholder="Model:">
  <input type="text" name="price" placeholder="Price:">
  <!-- <label> Buyers </label>
  <% Buyer.all.each do |buyer| %>
    <input id="<%= buyer.name %>" type="checkbox" name="buyers[]" value="<%= buyer.id %>">
  <% end %> -->

  <input type="submit" value="Create">
  <a href="/logout">logout </a>
</form>
