<% if Helpers.is_logged_in?(session) %>
<ul>
  <% @buyer.autos.each do |auto| %>
    <li><a href="/autos/<%= auto.slug %>"><%= auto.name %> </a></li>
  <% end %>
</ul>

<ul>
  <% @buyer.owners.each do |owner| %>
    <li><a href="/owners/<%= owner.slug %>"><%= owner.name %> </a></li>
  <% end %>
</ul>
<% else %>
    <h1> You Must Be Logged in to autolister to view this page </h1>
<% end %>
