<ul>
  <% @buyer.autos.each do |auto| %>
    <li><a href="/autos/<%= auto.slug %>"><%= auto.name %> </a></li>
  <% end %>
</ul>

<ul>
  <% @buyer.owners.each do |owner| %>
    <li><a href="/owners/<%= owner.slug %>"><%= owner.name %> </a></li>
  <% end %>
</ul>
<a href="/logout">logout </a>
