<!doctype html>
<html>
    <head>
    <title>Autolister</title>

  </head>
  <body bgcolor=AliceBlue>

    <div class="container">
      <h1>Autolister</h1>

      <%= yield %>>
      <br>
      <br>
      <br>
      <a href="/logout">logout </a>
    </div>

  </body>
</html>
